*, *::before, *::after {
    box-sizing: border-box;
}

html {
    min-width: 870px;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(97, 97, 97);
    background-attachment: fixed;
}

.a {
    text-decoration: none;
    color: rgb(18, 142, 221);
}

.c {
    border-radius: 100%;
}

.welcome-msg {
    text-align: center;
    color: white;
    margin: 180px 0;
    padding: 10px;
    font-size: 20px;
}

.a-btn {
    display: block;
    width: 200px;
    padding: 20px;
    margin: auto;
    background-color: white;
    color: black;
    border-radius: 5px;
}

.a-btn:active {
    transform: translateY(1px);
}

.box-shadow {
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.text-shadow {
    text-shadow: 0 0 3px black;
}